body {
  background-color: black;
  color: white;
}

.nav {
  position: relative;
  background-color: black;
}

.nav__link {
  padding: 12px 18px;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

.home {
  text-align: center;
}

#posts {
  text-align: center;
}

.post {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-image: url("/forum/images/main_menu_gamename.png");
  background-size: cover;
  min-height: 60px;
  max-height: 10%;

  margin: 0 auto;
  width: 80%;
}
.post:hover{
  border-color: darkslategrey;
}

.datePosted {
  position: absolute;
  bottom: 2;
  right: 5;
  color: palegreen;
}

.postCategory {
  position: absolute;
  right: 5;
  color: brown;
}

.postTitle {
  position: absolute;
  top: 10;
  width: 100%;
  color: aqua;
}

.originalPoster {
  position: absolute;
  bottom: 2;
  left:5;
  color: blue;
}

.post a {
  text-decoration: none;
  color: red;
}

.open-button {
  background-color: gray;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 25px;
  right: 30px;
  width: 318;
}

.open-button:hover {
  background-color: red;
  color: white;
}


.form-popup {
  display: none;
  background-color: gray;
  color: white;
  padding: 16px 20px;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  z-index: 1;
}

.form-popup {
  display: none;
  border: 1px;
  border-style: solid;
  border-color: black;
  position: relative;
  background-color: gray;
  color: white;
  padding: 16px 20px;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  height: 400px;
  z-index: 1;
}

.form-popup .messageUsers {
  border: 1px;
  border-style: solid;
  border-color: black;
  width: 20%;
  margin-bottom: 1px;
  position: absolute;
  right: 0;
  top: 0;
  height: 89%;
  text-align: center;
}

.form-popup .messageUsers .username:hover {
  color: red;
}

.form-popup .btn {
  background-color: red;
  color: white;
  padding: 16% 20%;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-popup .cancel {
  color: white;
  padding: 5%;
  border: 1px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  opacity: 0.8;
  background-color: gray;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

.form-popup .cancel:hover {
  background-color: red;
}

.form-popup #chat #textBox {
  resize: none;
  float: left;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  width: 79.9%;
  position: absolute;
  bottom: 11%;
  left: 0;
}