body {
    background-color: black;
    color: white;
}

.nav{
    position: relative;

    background-color: black;
}

.nav__link{
    padding: 12px 18px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

.home {
    text-align: center;

}

.post {
    background-color: yellow;
    color: red; 
    padding: 12px 18px;
    top: 50;
    height: 50px;
    
}

.open-button {
    background-color: gray;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  .form-popup {
    display: none;
    background-color: gray;
    color: white;
    padding: 16px 20px;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    z-index: 1;
}

  .form-popup .btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-popup .cancel {
    background-color: red;
  }